{% extends 'gdb_header.html' %}
{% load static %}

{% block body%}
<section class="content">
                                    

        <div class="container-fluid">

            <div class="block-header">
                <!-- <h2>
                    Bootstrap DATATABLES
                    <small>Taken from <a href="https://bootstrap-table-examples.wenzhixin.net.cn/index.html" target="_blank">bootstrap-table-examples.wenzhixin.net.cn</a></small>
                </h2> -->
            </div>

              
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>Graphical Representation</strong>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>


  	<style>  
            .leftbox { 
                float:left;   
                width:50%; 
                height:350px;
                margin-bottom: 20px;  
            } 

            .rightbox{ 
                float:right; 
                width:100%; 
                height:400px; 
            }
            .pie-chart-m{
              padding: 0 !important;
            }
            @media only screen and (max-width : 767px){
              .leftbox { 
                  width:100%;
                  height: auto;
              } 
            }

        </style>  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
{% if labour %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  // var myHeight = 350;
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Labor Cost Analysis');
  data.addColumn('number', 'TEMP COST');
  data.addColumn('number', 'GDB COST');

  data.addRows([
      {% for lab in labour %}
      // ['{{lab.date|date:"m/d/Y"}}',{{lab.temp_cost}},{{lab.gdb_cost}}],
      ["{{lab.las_date|date:'m/d/Y'}}",{{lab.temp_cost}},{{lab.gdb_cost}}],
      {% endfor %}
          /*['DATE', 'TEMP COST', 'GDB COST', ],*/
          // ["01/02/2019", 4408.00, 2640.00],
          // ["01/03/2019", 3480.00, 2200.00],
          // ["04/01/2019", 3480.00, 1320.00],
          // ["04/02/2019", 3480.00, 1320.00],
          // ["04/03/2019", 4060.00, 1320.00],
          // ["04/04/2019", 3944.00, 1320.00],
          // ["04/05/2019", 3712.00, 1320.00],
  ]);

  var view = new google.visualization.DataView(data);
    view.setColumns([0,
    1,
    //  {
    //   calc: function (dt, row) {
    //     return dt.getValue(row, 1);
    //   },
    //   type: "number",
    //   role: "annotation"
    // },
     2,// {
    //   calc: function (dt, row) {
    //     return dt.getValue(row, 2);
    //   },
    //   type: "number",
    //   role: "annotation"
    // },
    {
      calc: function (dt, row) {
        return 0;
      },
      label: "Total",
      type: "number",
    },
   {
        calc: function (dt, row) {
          return "$"+ (dt.getValue(row, 1) + dt.getValue(row, 2));
        },
        type: "string",
        role: "annotation",

        /*prefix: '$'*/
      }
  ]);


  var options = {
    // animation:{{
    //   calc: function (dt, row) {
    //     return dt.getValue(row, 2);
    //   },
    //   type: "number",
    //   role: "annotation"
    // },
    //   duration: 1000,
    //   easing: 'out',
    //   startup: true
    // },
    legend:'left',
    title: 'LABOR REPORT - LAST 7 DAYS',        
     // hAxis:
     // {
     // // slantedText: true,
     // // slantedTextAngle: 4
     // },
    // backgroundColor: 'transparent',
    // height: myHeight, width: 500,
    /*legend: {
      position: 'top',
      maxLines: 3
    },*/
    bar: { groupWidth: '40%' },
    isStacked: true,
     vAxis: 
    {
      format: '$'
    },
    series: {
      2: {
        annotations: {
          stem: {
            color: "transparent",
          },
          textStyle: {
            color: "#000000",
          }
        },
        enableInteractivity: false,
        /*tooltip: "none",*/
        visibleInLegend: false
      }
    }    
  };

 var formatter = new google.visualization.NumberFormat(
          {prefix: '$'});
    /*formatter.format(data, 0);*/
    formatter.format(data, 1);
    formatter.format(data, 2);
    $("text:contains("+ options.title +")").attr({'x':'100', 'y':'20'})
  var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_material'));
  /*chart.draw(data, {vAxis: {format: '#\'$\''} } );*/
  chart.draw(view, options);
}
  </script>
  {% endif %}  
  <div class="col-xs-12 pie-chart-m">                
           <div id="piechart_3d_1" class="leftbox"></div>                
           <div id="donutchart_1" class="leftbox"></div> 
   </div>   
  	<div class="col-xs-12 pie-chart-m">      

    	     <div id="piechart_3d" class="leftbox"></div>
    	     <div id="donutchart" class="leftbox"></div>    	
	 </div>
   <div class="col-xs-12 pie-chart-m">
    <div id="columnchart_material" class="rightbox"></div>
   </div>

  <!-- <script type="text/javascript" src="{% static 'js/loader.js' %}"></script> -->
  {% if profit %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      //Get the records from database dyamically
      var profit = {{ profit | safe }}
      var data = google.visualization.arrayToDataTable(profit);
      var options = {
        title: 'PROJECT-WISE YTD PROFIT',
        align: 'center',
        is3D: true
        
      };
      var formatter = new google.visualization.NumberFormat({prefix: '$'});
	    formatter.format(data, 1);

      var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
      chart.draw(data, options);      
    }
  </script>
  {% endif %}
  <!-- <script type="text/javascript" src="{% static 'js/loader.js' %}"></script> -->
  {% if loss %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      //Get the records from database dyamically
      var loss = {{ loss | safe }}
      var data = google.visualization.arrayToDataTable(loss);
      var options = {
        title: 'PROJECT-WISE YTD LOSS',
        align: 'center',
        is3D: true
      };

    var formatter = new google.visualization.NumberFormat({prefix: '$'});
	  formatter.format(data, 1);

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);    
    }
  </script>
  {% endif %}

   {% if today_profit %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      //Get the records from database dyamically
      var loss = {{ today_profit | safe }}
      var data = google.visualization.arrayToDataTable(loss);
      var options = {
        title: "TODAY'S PROJECT-WISE PROFIT",
        align: 'center',
        is3D: true
      };

    var formatter = new google.visualization.NumberFormat({prefix: '$'});
    formatter.format(data, 1);

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_1'));
    chart.draw(data, options);    
    }
  </script>
  {% endif %}

     {% if today_loss %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      //Get the records from database dyamically
      var loss = {{ today_loss | safe }}
      var data = google.visualization.arrayToDataTable(loss);
      var options = {
        title: "TODAY'S PROJECT-WISE LOSS",
        align: 'center',
        is3D: true
      };

    var formatter = new google.visualization.NumberFormat({prefix: '$'});
    formatter.format(data, 1);

    var chart = new google.visualization.PieChart(document.getElementById('donutchart_1'));
    chart.draw(data, options);    
    }
  </script>
  {% endif %}  
{% endblock %}
{% include "gdb_footer.html" %}