 {% extends 'gdb_header.html' %}
    {% load static %}

{% block body%}

<style>
/*#master-search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}
#master-search-area input {
    width: 600px;
    font-size: 20px;
    padding: 5px;
}*/
</style>
<!-- <div class="block"><div class="lds-ripple"><div></div><div></div></div></div>
 -->
  

 <section class="content">
                                    

        <div class="container-fluid">

            <div class="block-header">
                <!-- <h2>
                    Bootstrap DATATABLES
                    <small>Taken from <a href="https://bootstrap-table-examples.wenzhixin.net.cn/index.html" target="_blank">bootstrap-table-examples.wenzhixin.net.cn</a></small>
                </h2> -->
            </div>

              
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>MASTER</strong>
                            </h2>
                         <!--    <ul class="header-dropdown m-r-5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                            <div id="unitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" id="unit_detail_view">
       
                  



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default refesh_table" data-dismiss="modal" onclick="javascript:window.location.reload()">Close</button>
      </div>
    </div>

  </div>
</div>
                        </div>



<div class="body">
                 
          <div class="date-input-m">
                   <tr>
                      <td>Project Date:</td>
                      <td><input name="min" class="border-bottom-input-m" id="min" type="text"></td>
                      <td id="leap_error" class="error"></td>
                  </tr>

                  <!--  <tr>
                      <td>End Date:</td>
                      <td><input name="max" class="border-bottom-input-m" id="max" type="text"></td>
                  </tr> -->

                 <!--  <button id="search_filter">search</button> -->
                  <a class="btn btn-primary" id="search_filter" >Search</a>
                   <a class="btn btn-primary" id="reset-date" >Reset</a>
            </div>



                            <div class="table-responsive">


                                         {% for gallon in relation %}
                                      

                              <input type="hidden" name="unit_type" id="unit_type" value="{{gallon.relationship__project_unit_type}}"/>
                                                                     {% endfor %}


                                <table id= "example" class="table datatable custom-table table-striped table-bordered table-hover select-all "  > 

                                    <thead>
                                    <tr>
                                    
                                    <th>Project Date</th>
                                    <th>Project Shift</th>
                                     <th>Project Group</th>
                                      <th>Q #</th>
                                       <th>Whse #</th>
                                       <th>size</th>
                                    <th>Project Name</th>
                                    <th>Product Category</th>
                                    <th>Supervisor Name</th>
                                    
                                    <th>TEMP Labor HRS</th>
                                    <th>GDB Labor HRS</th>
                                    <th>TEMP Labor cost ($)</th>
                                    <th>GDB Labor cost ($) </th>
                                     <th>Total Labor cost ($)</th>
                                    <th>Units</th>
                                   <!--  <th>Units/ G(or)Other</th> -->
                                    <th>Total Units  </th>
                                    <th>Total Gallons Done</th>  
                                    <th>Cost/Unit ($) </th>
                                    <th>Cost/Gallon ($)</th>  

                                    


                                
                                    

                                        </tr>
                                    </thead>
                                    
                                    <tfoot>
                                   <!--  <tr>
                                    <th colspan="10" style="text-align:right">Total Labor Cost ($)</th>
                                    <th></th>
                                     <th></th>
                                    <th></th>
                                   <th></th>
                                 <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                       <th></th>
                                    <th></th> 
                                    </tr>-->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
 

       {% include "gdb_footer.html" %}
    <script type="text/javascript">



$('body').on('click','.view_unit_detail',function() {


  m_id=$(this).attr('data-id');
  p_name=atob($(this).attr('data-projectname'));
  unit_type=atob($(this).attr('data-project-unit-type'));
  
  // alert(unit_type);
  $.ajax
  ({
    url:"/master/ajax_popup_unit_view/",
    method:"post",
    data:{m_id:m_id,p_name:p_name,unit_type:unit_type},
    success:function(response)
    {
      // $('#myModal_mailsend').modal('show');
      $('#unit_detail_view').html(response);
    }
  });


 });

$('#unitModal').on('hidden.bs.modal', function () {
   $('#example').DataTable().ajax.reload(null,false);
});

var editor;
    

 $(document).ready(function() {
  $("#reset-date").click(function(){
    $('#min').val("").datepicker({
      showWeek: true,
      firstDay: 1
    });
    // $('#max').val("").datepicker("update");
    $('#example').DataTable().ajax.reload(null,false);
})

 // $('#min').datepicker("update");
 //    $('#max').val("").datepicker("update");
$.fn.dataTable.ext.search.push(
  // console.log($('#min').val());
    function( settings, data, dataIndex ) {
        // var min = parseInt( $('#min').val(), 10 );
        // var max = parseInt( $('#max').val(), 10 );
            var min = $('#mindate').val() ? new Date($('#mindate').val()) : null;
      var max = $('#maxdate').val() ? new Date($('#maxdate').val()) : null;
        var project_date = parseFloat( data[0] ) || 0; // use data for the age column
 
        // if ( ( isNaN( min ) && isNaN( max ) ) ||
        //      ( isNaN( min ) && age <= max ) ||
        //      ( min <= project_date   && isNaN( max ) ) ||
        //      ( min <= age   && age <= max ) )
        // {
        //     return true;
        // }

      if (min == null && max == null) {
        return true;
      }
      if (min == null && project_date <= max) {
        return true;
      }
      if (max == null && project_date >= min) {
        return true;
      }
      if (max == null && project_date >= min) {
        return true;
      }
      if (project_date <= max && project_date >= min) {
        return true;
      }
      return false;
        
    }
);




   var editor = new $.fn.dataTable.Editor( {


                ajax:{

                    edit: {
                            type: 'GET',
                            contentType: 'application/json',
                            url: '/master/edit_master/',
                            data: function (d) {
                               var newdata ={};
                                var ids= '';
                                 var clicked_label= '';
                                   var clicked_value= '';

                               $.each(d.data, function (key, value) {
                                ids= key;

                                     $.each(value, function (key1, value1) {

                                        clicked_label= key1;
                                        clicked_value= value1;
                                    
                                        }); 

                               });

                               newdata=({'id':ids,'clicked_label':clicked_label,"clicked_value":clicked_value});

                               // console.log(newdata);

                               return newdata;
                            },
                            success: function(response) {
                                // window.location.reload();
                                // table.ajax.reload(null,false);
                                $('#example').DataTable().ajax.reload(null,false);
                            }
                            //data:{x:"test"}
                        },



                        },

        //ajax: '{% url "edit_master" %}',
        table: "#example",
        idSrc:  'id',
 
        type: 'POST',
        data: function ( d ) {
                              d.dirId =  "id";
        },
          
        fields: [ 
       {
        
                label: "Temp Labour:",
                name: "project_date"
       },
        {
                label: "Temp Labour:",
                name: "project_tmp_labor_hrs"
            },{
                label: "GDB Labour:",
                name: "project_gdb_labor_hrs"
            },
            
        ]





    } );

        // Activate an inline edit on click of a table cell
    // $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
    //     editor.inline( this );
    // } );
 $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this, {
            onBlur: 'submit'

        } );


    } );
  $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });


var table = $('#example').DataTable( {

      // ajax: '/master/edit_list_home/',

      ajax: {
    url: "/master/edit_list_home/",
    type: "POST",
    data: function (d) {
        d.min = $('#min').val();
        d.max = $('#max').val(); },
    },


      dom: "Bfrtip",
      bSort: true,
      pageLength: 5,
      stateSave: true,
        columns: [
            
            { data: 'project_date'},
            { data: 'project_shift' },
            { data: 'project_group' },
            { data: 'project_q' },
            { data: 'project_whse' },
            { data: 'size' },
            { data: 'project_name' },
            { data: 'product_category' },
            { data: 'supervisor_name' },
            { data: 'project_tmp_labor_hrs' },
            { data: 'project_gdb_labor_hrs' },
            { data: 'project_tmp_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' ) },
            { data: 'project_gdb_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            { data: 'project_total_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
           {
                "mRender":function(data,type,full)
                {
                    var encodedString = btoa(full['project_name']);
                     var encodedString1 = btoa(full['relationship__project_unit_type']);
                    
                    return '<button type="button" class="btn btn-info view_unit_detail" data-id='+full['id']+' data-projectname='+encodedString+' data-project-unit-type='+encodedString1+' data-toggle="modal" data-target="#unitModal"><img src="{% static "images/edit.png" %}" width="16" height="15" /></button>';
                } 
               
            },
            // { data: 'unit_count'},
            { data: 'unit_done_count'},
            { data: 'gallon_done_count'},
            { data: 'master_cost_unit_count',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            { data: 'master_cost_gallon_count', render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            

            // }
            // { data: 'project_size' },
            // { data: 'project_unit_type' },
            // { data: 'project_units' },
            // { data: 'project_total_units' },
            // { data: 'project_cost_unit' },
            // { data: 'project_cost_gallon' },
            // { data: 'project_total_gallons' },
        

           

        ],
 "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                        $('td:eq(9)', nRow).css('background-color', '#FEFFCD');
                        $('td:eq(10)', nRow).css('background-color', '#FEFFCD');
                },



    
  "footerCallback": function( tfoot, data, start, end, display ) {
    var api = this.api();

   //  $( api.column( 12 ).footer() ).html(
   //      api.column( 12 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
  
   //    $( api.column( 16 ).footer() ).html(
   //      api.column( 16 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );

   // $( api.column( 17 ).footer() ).html(
   //      api.column( 17 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
   //   $( api.column( 18 ).footer() ).html(
   //      api.column( 18 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
   //      $( api.column( 19 ).footer() ).html(
   //      api.column( 19 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );

  },
  

        //      "footerCallback": function ( row, data, start, end, display ) {
        //     var api = this.api(), data;
 
        //     // Remove the formatting to get integer data for summation
        //     var intVal = function ( i ) {
        //         return typeof i === 'string' ?
        //             i.replace(/[\$,]/g, '')*1 :
        //             typeof i === 'number' ?
        //                 i : 0;
        //     };
 
        //     // Total over all pages
        //     total = api
        //         .column( 13 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return intVal(a) + intVal(b);
        //         }, 0 );

  
 
        //     // Total over this page
        //     pageTotal = api
        //         .column( 13, { page: 'current'} )
        //         .data()
        //         .reduce( function (a, b) {
        //             return intVal(a) + intVal(b);
        //         }, 0 );
          
 
        //     // Update footer
        //     $( api.column( 13 ).footer() ).html(
        //         '$'+pageTotal +' ( $'+ total +' total)'
        //     );




        // }






      });



            // $('#min, #max').change(function () {
            //     table.draw();
            // });

  $("#search_filter").on('click',function()
    {
      var service_date=$("#min").val();
      // alert($("#min").val());
      if(service_date=='')
      {
        
          $("#leap_error").text("Please enter valid service date");
        
      }
      
      //saving form state
      //$("#smart_form").saveForm();
      table.ajax.reload();
    });



 // });




});
    </script>

{% endblock %}