 {% extends 'gdb_header.html' %}
    {% load static %}

{% block body%}

<style>
/*#master-search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}
#master-search-area input {
    width: 600px;
    font-size: 20px;
    padding: 5px;
}*/
</style>
<!-- <div class="block"><div class="lds-ripple"><div></div><div></div></div></div>
 -->
  

 <section class="content">
                                    

        <div class="container-fluid">

            <div class="block-header">
                <!-- <h2>
                    Bootstrap DATATABLES
                    <small>Taken from <a href="https://bootstrap-table-examples.wenzhixin.net.cn/index.html" target="_blank">bootstrap-table-examples.wenzhixin.net.cn</a></small>
                </h2> -->
            </div>

              
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>MASTER</strong>
                            </h2>
                         <!--    <ul class="header-dropdown m-r-5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                            <div id="unitModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header unit_detail_popup">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title"  style="background-color:#2196F3;
                                    padding-top: 5px;
                                    padding-bottom: 4px;
                                    text-align: left;">Units</h4>
                                </div>
                                <div class="modal-body" id="unit_detail_view">
                                 


                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default refesh_table" data-dismiss="modal" onclick="javascript:window.location.reload()">Close</button>
                                </div>
                              </div>

                            </div>
                          </div>


              <div id="importModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header unit_detail_popup">
                    <button type="button" class="close" data-dismiss="modal" style = 'margin-top:8px;padding-right:12px;'>&times;</button>
                      <h4 class="modal-title" style="background-color:#2196F3;
                  padding-top: 5px;
                  padding-bottom: 4px;
                  text-align: left;">MASTER IMPORT</h4>
                    </div>


                    <div class="modal-body" id="import_detail_view">
                        <div id="message_display" >
                  <div class="bar" style="width: 0%;"><span id="percent"></span></div>
              </div>
                      <form method="post" enctype="multipart/form-data" action="{%url 'import_data' %}" id="fileForm">
                  {% csrf_token %}
                  <div class="date-input-m">
                  <input type="file" name="myfile" id="myfile" class="btn" data-file-types="csv">
                </div>
                 <div class="date-input-m">
                  <button type="submit" class="btn btn-primary" >Upload</button>
                   <button type="button" id="cancel_all" class="btn btn-danger" onclick="javascript:window.location.reload()">Cancel</button>
                </div>
                </form>

                    </div>

                  </div>

                </div>
              </div>

                        </div>



<div class="body">
                 
          <div class="date-input-m">
                   <tr>
                      <td>Project Date:</td>
                      <td><input name="min" class="border-bottom-input-m" id="min" type="text"></td>
                      <td id="leap_error" class="error"></td>
                  </tr>

                  <!--  <tr>
                      <td>End Date:</td>
                      <td><input name="max" class="border-bottom-input-m" id="max" type="text"></td>
                  </tr> -->

                 <!--  <button id="search_filter">search</button> -->
                  <a class="btn btn-primary" id="search_filter" >Search</a>
                   <a class="btn btn-primary" id="reset-date" >Reset</a>
                        <tr >
                    <td> &nbsp; </td>
                     <td> &nbsp; </td>
                    <td> | </td>
                     <td> &nbsp; </td>
                      <td> &nbsp; </td>
                    <td  style="float: right;"><a class="btn btn-primary import_view"
data-toggle="modal" data-target="#importModal"><img src="{% static "images/import.png" %}" width="16" height="15" /> <strong>Import</strong></a>
                    </td></tr>
            </div>



                            <div class="table-responsive">


                                         {% for gallon in relation %}
                                      

                              <input type="hidden" name="unit_type" id="unit_type" value="{{gallon.relationship__project_unit_type}}"/>
                                                                     {% endfor %}


                                <table id= "example" class="table datatable custom-table table-striped table-bordered table-hover select-all "  > 

                                    <thead>
                                    <tr>
                                    
                                    <th>Project Date</th>
                                    <th>Project Shift</th>
                                     <th>Project Group</th>
                                      <th>Q #</th>
                                       <th>Whse #</th>
                                       <th>size</th>
                                    <th>Project Name</th>
                                    <th>Product Category</th>
                                    <th>Supervisor Name</th>
                                    
                                    <th>TEMP Labor HRS</th>
                                    <th>GDB Labor HRS</th>
                                    <th>TEMP Labor cost ($)</th>
                                    <th>GDB Labor cost ($) </th>
                                     <th>Total Labor cost ($)</th>
                                    <th>Units</th>
                                   <!--  <th>Units/ G(or)Other</th> -->
                                    <th>Total Units  </th>
                                    <th>Total Gallons Done</th>  
                                    <th>Cost/Unit ($) </th>
                                    <th>Cost/Gallon ($)</th>  

                                    


                                
                                    

                                        </tr>
                                    </thead>
                                    
                                    <tfoot>
                                   <!--  <tr>
                                    <th colspan="10" style="text-align:right">Total Labor Cost ($)</th>
                                    <th></th>
                                     <th></th>
                                    <th></th>
                                   <th></th>
                                 <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                       <th></th>
                                    <th></th> 
                                    </tr>-->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
 

       {% include "gdb_footer.html" %}
    <script type="text/javascript">
$(function() 
{
    //$('fileForm').submit(upload);
// $("#message_display").delay(4000).slideUp(500, function(){
//     $("#message_display").slideUp(6000);
// });

    $('input[type=file]').on('change', prepareUpload);
      
      var files;

      function prepareUpload(event)
      {
        files = event.target.files;
      }

      


         var submit_file=$('#fileForm').submit(function() 
                    {

                      

                        // event.preventDefault();
                        var data = new FormData();
                        data.append('data',$('input[type=file]')[0].files[0]);
                        // var filetype = $('input[type=file]')[0].files[0].attr('data-file-types');

                              // alert(document.getElementById("myfile").files[0].name);

                            
                            

                            if($('#myfile').val()!=='')
                            {
                              uploaded_file_name=document.getElementById("myfile").files[0].name;
                              var get_ext = uploaded_file_name.split('.');
                              // get_ext = get_ext.reverse(); 
                              // alert(get_ext[1]);
                              if(get_ext[1]!=='csv')
                              {
                                $('#message_display').html('<div class="alert alert-danger"><a class="close" href="#" data-dismiss="alert">×</a>Uploaded file not in csv format</div>');
                              }
                              // else
                              // {
                              //   alert("hi");
                              // }
                            }
                            else
                            {
                             $('#message_display').html('<div class="alert alert-warning"><a class="close" href="#" data-dismiss="alert">×</a>Please upload csv file format</div>');

                        

                    
                            }
                        $.ajax({
                            
                            url: '{%url "import_data" %}',
                            type: $(this).attr('method'),
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false,
                           
                            beforeSend: function(){
                               $("#loader").show();
                             },
                             complete: function(){
                               $("#loader").hide();
                             },
                            success: function(response) {
                              alert(response.display)
                              if(response.display=="success")
                              {
                              return_message='<div class="alert alert-success"><a class="close" href="#" data-dismiss="alert">×</a>'+response.status+'</div>';

                                $('#message_display').html(return_message)
                              }

                              if(response.display=="fail")
                              {
                              return_message='<div class="alert alert-danger"><a class="close" href="#" data-dismiss="alert">×</a>'+response.status+'</div>';

                                $('#message_display').html(return_message)
                              }


                            }
                        });
                        return false;
                    });


 // $('#cancel_all').on('click',function(e){
 
 //         document.getElementById("myfile").value = "";   
 //  });


});

//  $('#importModal').on('hidden.bs.modal', function () {
//   window.location.reload();
// });
 $('#unitModal').on('hidden.bs.modal', function () {
    window.location.reload();

});


$('body').on('click','.view_unit_detail',function() {


  m_id=$(this).attr('data-id');
  p_name=atob($(this).attr('data-projectname'));
  unit_type=atob($(this).attr('data-project-unit-type'));
  
  // alert(unit_type);
  $.ajax
  ({
    url:"/master/ajax_popup_unit_view/",
    method:"post",
    data:{m_id:m_id,p_name:p_name,unit_type:unit_type},
    success:function(response)
    {
      // $('#myModal_mailsend').modal('show');
      $('#unit_detail_view').html(response);
    }
  });


 });

$('#unitModal').on('hidden.bs.modal', function () {
   //$('#example').DataTable().ajax.reload(null,false);
});

var editor;
    

 $(document).ready(function() {
  $("#reset-date").click(function(){
    $('#min').val("").datepicker({
      showWeek: true,
      firstDay: 1
    });
    // $('#max').val("").datepicker("update");
    $('#example').DataTable().ajax.reload(null,false);
})

 // $('#min').datepicker("update");
 //    $('#max').val("").datepicker("update");
$.fn.dataTable.ext.search.push(
  // console.log($('#min').val());
    function( settings, data, dataIndex ) {
        // var min = parseInt( $('#min').val(), 10 );
        // var max = parseInt( $('#max').val(), 10 );
            var min = $('#mindate').val() ? new Date($('#mindate').val()) : null;
      var max = $('#maxdate').val() ? new Date($('#maxdate').val()) : null;
        var project_date = parseFloat( data[0] ) || 0; // use data for the age column
 
        // if ( ( isNaN( min ) && isNaN( max ) ) ||
        //      ( isNaN( min ) && age <= max ) ||
        //      ( min <= project_date   && isNaN( max ) ) ||
        //      ( min <= age   && age <= max ) )
        // {
        //     return true;
        // }

      if (min == null && max == null) {
        return true;
      }
      if (min == null && project_date <= max) {
        return true;
      }
      if (max == null && project_date >= min) {
        return true;
      }
      if (max == null && project_date >= min) {
        return true;
      }
      if (project_date <= max && project_date >= min) {
        return true;
      }
      return false;
        
    }
);




 //   var editor = new $.fn.dataTable.Editor( {


 //                ajax:{

 //                    edit: {
 //                            type: 'GET',
 //                            contentType: 'application/json',
 //                            url: '/master/edit_master/',
 //                            data: function (d) {
 //                               var newdata ={};
 //                                var ids= '';
 //                                 var clicked_label= '';
 //                                   var clicked_value= '';

 //                               $.each(d.data, function (key, value) {
 //                                ids= key;

 //                                     $.each(value, function (key1, value1) {

 //                                        clicked_label= key1;
 //                                        clicked_value= value1;
                                    
 //                                        }); 

 //                               });

 //                               newdata=({'id':ids,'clicked_label':clicked_label,"clicked_value":clicked_value});

 //                               // console.log(newdata);

 //                               return newdata;
 //                            },
 //                            success: function(response) {
 //                                // window.location.reload();
 //                                // table.ajax.reload(null,false);
 //                                $('#example').DataTable().ajax.reload(null,false);
 //                            }
 //                            //data:{x:"test"}
 //                        },



 //                        },

 //        //ajax: '{% url "edit_master" %}',
 //        table: "#example",
 //        idSrc:  'id',
 
 //        type: 'POST',
 //        data: function ( d ) {
 //                              d.dirId =  "id";
 //        },
          
 //        fields: [ 
 //       {
        
 //                label: "Temp Labour:",
 //                name: "project_date"
 //       },
 //        {
 //                label: "Temp Labour:",
 //                name: "project_tmp_labor_hrs"
 //            },{
 //                label: "GDB Labour:",
 //                name: "project_gdb_labor_hrs"
 //            },
            
 //        ]





 //    } );

 //        // Activate an inline edit on click of a table cell
 //    // $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
 //    //     editor.inline( this );
 //    // } );
 // $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
 //        editor.inline( this, {
 //            onBlur: 'submit'

 //        } );


 //    } );
  $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });


var table = $('#example').DataTable( {

      // ajax: '/master/edit_list_home/',

      ajax: {
    url: "/master/edit_list_home/",
    type: "POST",
    data: function (d) {
        d.min = $('#min').val();
        d.max = $('#max').val(); },
    },


      dom: "Bfrtip",
      bSort: true,
      // pageLength: 5,
      stateSave: true,
        columns: [
            
            { data: 'project_date'},
            { data: 'project_shift' },
            { data: 'project_group' },
            { data: 'project_q' },
            { data: 'project_whse' },
            { data: 'size' },
            { data: 'project_name' },
            { data: 'product_category' },
            { data: 'supervisor_name' },
            { data: 'project_tmp_labor_hrs' },
            { data: 'project_gdb_labor_hrs' },
            { data: 'project_tmp_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' ) },
            { data: 'project_gdb_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            { data: 'project_total_labor_cost',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
           {
                "mRender":function(data,type,full)
                {
                    var encodedString = btoa(full['project_name']);
                     var encodedString1 = btoa(full['relationship__project_unit_type']);
                    
                    return '<button type="button" class="btn btn-info view_unit_detail" data-id='+full['id']+' data-projectname='+encodedString+' data-project-unit-type='+encodedString1+' data-toggle="modal" data-target="#unitModal"><img src="{% static "images/edit.png" %}" width="16" height="15" /></button>';
                } 
               
            },
            // { data: 'unit_count'},
            { data: 'unit_done_count'},
            { data: 'gallon_done_count'},
            { data: 'master_cost_unit_count',render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            { data: 'master_cost_gallon_count', render: $.fn.dataTable.render.number( ',', '.', 2,'$' )},
            

            // }
            // { data: 'project_size' },
            // { data: 'project_unit_type' },
            // { data: 'project_units' },
            // { data: 'project_total_units' },
            // { data: 'project_cost_unit' },
            // { data: 'project_cost_gallon' },
            // { data: 'project_total_gallons' },
        

           

        ],
 "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                        $('td:eq(9)', nRow).css('background-color', '#FEFFCD');
                        $('td:eq(10)', nRow).css('background-color', '#FEFFCD');
                         $('td:eq(9)', nRow).addClass('temp_labor');
                        $('td:eq(10)', nRow).addClass('gdb_labor');
                },



    
  "footerCallback": function( tfoot, data, start, end, display ) {
    var api = this.api();

   //  $( api.column( 12 ).footer() ).html(
   //      api.column( 12 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
  
   //    $( api.column( 16 ).footer() ).html(
   //      api.column( 16 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );

   // $( api.column( 17 ).footer() ).html(
   //      api.column( 17 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
   //   $( api.column( 18 ).footer() ).html(
   //      api.column( 18 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );
   //      $( api.column( 19 ).footer() ).html(
   //      api.column( 19 ).data().reduce( function ( a, b ) {
   //          val_col=parseFloat(a) +parseFloat(b);
   //          return val_col.toFixed(2);
   //      }, 0 )
   //  );

  },
  

     






      });

var lab_arr = []; //Assign array

$('#example tbody').on( 'click', '.temp_labor', function () {
    
    // alert('hi');
    var rowIdx = table.cell( this ).index().row;
    var columnIdx = table.cell( this ).index().columnVisible
    //alert(rowIdx);
    // var dummy_temp_labor_field_value =  $('#temp_labor_field_'+rowIdx+'_0').val();

    var temp_labor_value= $('#temp_labor_'+rowIdx+'_1').val();
    var temp_master_id_value= $('#master_id_'+rowIdx+'_1').val();
    var temp_labor_field_value= $('#temp_labor_field_'+rowIdx+'_1').val();
        
    console.log(temp_master_id_value);
     if(typeof temp_labor_value === 'undefined')
     {
     console.log(lab_arr);console.log("=====TEST====");
     temp_labor_value= lab_arr[0].temp_labor_value_arr;
      temp_master_id_value= lab_arr[0].temp_master_id_value_arr;
      temp_labor_field_value= lab_arr[0].temp_labor_field_value_arr;
      // return false;
     }

      var $this = $(this);
      if(temp_labor_field_value !== 'undefined') 
      {
                  lab_arr = [];                         //Assign array empty then push
                    lab_arr.push({'temp_labor_value_arr':temp_labor_value,
                      'temp_master_id_value_arr':temp_master_id_value,
                      'temp_labor_field_value_arr':temp_labor_field_value})
           

                       var temp_labor_value=temp_labor_value;
                        var $input = $('<input >', {
                            value: temp_labor_value,
                            type: 'text',
                            style:'outline: none;width: 100%; border-radius: 0 !important; height: 25px; margin: -2.5px;',
                            id:'l_temp',

                            blur: function() {
                                  // alert(e);
                                  temp_labor_new_value=this.value;
                                 
                                     $.ajax({
                                                      type: 'GET',
                                                      contentType: 'application/json',
                                                      url: '{% url "edit_master" %}',
                                                      data:{"id": temp_master_id_value,
                                                              "clicked_label": temp_labor_field_value,
                                                              "clicked_value": temp_labor_new_value
                                                      },
                                                      success: function(response) {

                                                           table.ajax.reload();
                                                      }
                                                  
                                              });
                              
                            },
                            keyup: function(e) {
                             if (e.which === 13) $input.blur();

                            },
          }).appendTo( $this.empty() ).focus();

      }

  });



var gdb_arr = []; //Assign array

$('#example tbody').on( 'click', '.gdb_labor', function () {
    
    // alert('hi');
    var rowIdx = table.cell( this ).index().row;
    var columnIdx = table.cell( this ).index().columnVisible
    //alert(rowIdx);
    // var dummy_temp_labor_field_value =  $('#temp_labor_field_'+rowIdx+'_0').val();

    var gdb_labor_value= $('#gdb_labor_'+rowIdx+'_1').val();
    var gdb_master_id_value= $('#master_id_'+rowIdx+'_1').val();
    var gdb_labor_field_value= $('#gdb_labor_field_'+rowIdx+'_1').val();
        
    // console.log(gdb_labor_field_value);
     if(typeof gdb_labor_value === 'undefined')
     {
     // console.log(gdb_arr);console.log("=====TEST====");
     gdb_labor_value= gdb_arr[0].gdb_labor_value_arr;
      gdb_master_id_value= gdb_arr[0].gdb_master_id_value_arr;
      gdb_labor_field_value= gdb_arr[0].gdb_labor_field_value_arr;
      // return false;
     }

      var $this = $(this);
      if(gdb_labor_field_value !== 'undefined') 
      {
                  gdb_arr = [];                         //Assign array empty then push
                    gdb_arr.push({'gdb_labor_value_arr':gdb_labor_value,
                      'gdb_master_id_value_arr':gdb_master_id_value,
                      'gdb_labor_field_value_arr':gdb_labor_field_value})
           

                       var gdb_labor_value=gdb_labor_value;
                        var $input = $('<input >', {
                            value: gdb_labor_value,
                            type: 'text',
                            style:'outline: none;width: 100%; border-radius: 0 !important; height: 25px; margin: -2.5px;',
                            id:'l_temp',

                            blur: function() {
                                  // alert(e);
                                  gdb_labor_new_value=this.value;
                                 
                                     $.ajax({
                                                      type: 'GET',
                                                      contentType: 'application/json',
                                                      url: '{% url "edit_master" %}',
                                                      data:{"id": gdb_master_id_value,
                                                              "clicked_label": gdb_labor_field_value,
                                                              "clicked_value": gdb_labor_new_value
                                                      },
                                                      success: function(response) {

                                                           table.ajax.reload();
                                                      }
                                                  
                                              });
                              
                            },
                            keyup: function(e) {
                             if (e.which === 13) $input.blur();

                            },
          }).appendTo( $this.empty() ).focus();

      }

  });




  $("#search_filter").on('click',function()
    {
      var service_date=$("#min").val();
      // alert($("#min").val());
      if(service_date=='')
      {
        
          $("#leap_error").text("Please enter valid service date");
        
      }
      
      //saving form state
      //$("#smart_form").saveForm();
      table.ajax.reload();
    });



 // });




});
    </script>

{% endblock %}